@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  /*    font-family: 'Bungee', cursive;*/
}

body {
  background: black;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
}

h1 {
  color: #5d11fa;
  padding-top: 80px;
  font-size: 52px;
  text-align: center;
  font-family: "Bungee";
}
h2 {
  color: #5d11fa;
  padding-top: 40px;
  text-align: center;
  font-family: monospace;
}

/* LOADING ----------- */
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
/*  ----------- */
/*////////////////////login//////////////////////////////////*/

.form {
  margin-top: 5%;
  text-align: center;
  font-family: monospace;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .label-text {
  color: #9b9b9b;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4a4a4a;
  color: white;
  font-size: 22px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}
label input:focus {
  max-width: 100%;
  width: 400px;
}
label input:focus + .label-text {
  color: #f0f0f0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}
button:hover,
button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

/*////////////////////////////////////////////////////////////*/

.info {
  margin-top: 10%;
  color: #898888;
  font-size: 13px;
}
.impo {
  color: #f44141;
}

.card {
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: white;
  width: 70%;
  margin: auto;
  margin-bottom: 5%;
}
.card:hover {
  border-bottom: none;
  background: #454444;
  border-radius: 32px;
}
.card img {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin: 10px;
}

.card h3 {
  display: inline-block;
  color: aliceblue;
}

.card a {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  font-size: 15px;
  color: #f0f0f0;
}

.foot {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 20px;
  color: #5d11fa;
}

.foot a {
  text-decoration: none;
  font-size: 37px;
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.9em;
  }
}
